*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    background-color: rgb(93, 135, 108);}
form
{
    width: 400px;
    margin: auto;
    text-align: justify;
    padding: 20px;
    margin-top: 25px;
    margin-left: 450px;
    box-shadow: 2px 3px 5px rgba(20, 200, 200);
    background-image: url(images/nature.jpg);
    border-radius: 10px;
}
label
{
    display: block;
    width: 300px;
    margin: 10px;
    margin-right: 3px;
    font-weight: bold;
    text-transform: uppercase;
}
.soumettre
{
    background-color: blue;
    padding: 10px 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 5px 5px 7px rgb(94, 94, 173);
    border: none;
    font-size: 20px;
}
h3
{
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
    color: rgb(60, 60, 117);
    text-decoration: underline;
}
input
{
    width: 350px;
    height: 30px;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    border-style: none;
}
.soumettre:hover
{
    color: white;
    text-decoration: none;
    background-color: rgb(20, 200, 200);
}